<header>
<app-menu></app-menu>
  <div class="headertext text-center my-5">
    <h1 class="display-1 text-uppercase my-5">CENTRE'AUTO'CCAS</h1>
    <h2 class="my-5">
      Votre véhicule d'occasion, en toute sérenité
    </h2>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="mt-5">
  <nav>
    <ul class="d-flex justify-content-between align-items-center">
      <li> <a href=""><i class="fas fa-question"></i> Foire aux questions</a></li>
      <li> <a href=""><i class="fas fa-balance-scale-left"></i> Mentions légales</a></li>
      <li> <a href=""><i class="fas fa-id-badge"></i> Politique de confidentialité</a></li>
      <li> <a href=""><i class="fas fa-book"></i> CGU</a></li>

    </ul>
  </nav>
</footer>
